[Desktop Entry]
Version=1.0
Name=nBrowser
Comment=Open in browser
Type=Application
Exec=nbrowser %u
Icon=browser
MimeType=application/pdf;text/html;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/freetube;x-scheme-handler/browser;x-scheme-handler/play;x-scheme-handler/gemini;
Terminal=false
